*{
    /* margin: 0px; */
    padding: 0px;
}
body{
    align-items: center;
    justify-content: center;
    /* min-width: 300px; */
    margin: 0px -20px 0px -20px;
}

/* logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
/* 
    margin-top: 10%;
    margin-bottom: 10%; */
}

.logo img{
    width: 80px;
}

/* header */
.header{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(assets/tablet/image-hero.png);
    background-size: 50%;
    background-repeat: repeat-x;

}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width: 50%;
}
.header p{
    text-align: center;
}

.btn1{
    background-color: #4D96A9;
    color: white;
    border-radius: 29px;
    padding: 10px 20px 10px 20px;
    border:0px;
}

.btn2{
    background-color: #855FB1;
    color: white;
    border-radius: 29px;
    padding: 10px 20px 10px 20px;
    border:0px;
}
@media (max-width:700px){
    .header{
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .header-content{
        width: 100%;
        margin-top: 40%;
    }

}